* {
	color: black;
}

html, body {
	height: 100%;
}

#navbar li a {
	color: #eee;
}

#navbar li:hover a {
	color: #fff;
	text-decoration: underline; 
}

.page-container {
	padding-top: 45px;
}

.wrapper {
    margin: auto;
}

.footer-container {
	position: relative;
    left: 0;
    bottom: 0;
    font-size: 12px;
    width: 100%;
    margin: auto;
    background-color: #d39e00;
}

header {
	box-shadow: 0px 5px 5px #6c757d36;
	position: fixed;
	z-index: 99;
	top: 0;
}

.buy-button {
	background-color: #d39e00;
	color: #333;
	border-radius: 1px;
}
.buy-button:hover {
	background-color: #ffc107;
}

.product {
	box-shadow: 5px -5px 10px 0px #dae0e5;
}

.card-body {
	border-top: 1px solid #ddd;
}

.card-title, .price {
	font-weight: 600;
	font-size: 1.5rem;
}

.price {
	margin: 0;
}

.btn-checkout span, .btn-checkout .fa-shopping-cart{
	color: white
}

.err_msg{
	color: red;
}